:root {
  --primary-color: #fb5686;
  --font-color: #747474;
  --hover-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  --heading-font: 'Archivo Narrow', sans-serif;
}

* {
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  background-color: #EAE8EE;
  font-size: 16px;
}

a, a:visited {
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

.center-content {
  display: flex; 
  justify-content: center;
}

.wide-content {
  width: 100%; 
  margin: 20px 0;
}

.wrapper {
  background-color: white;
  border-radius: 5px;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.error {
  display: none;
}

.error.active {
  display: block;
}

.title {
  padding: 20px 5% 15px 5%;
  color: #fb5686;
  background-color: white;
}

.title > * {
  font-weight: 400;
}

.title > button {
  display: block;
  margin: 0 auto;
}

.exercises {
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercises h2 {
  font-family: var(--heading-font);
  text-transform: uppercase;
  width: 90%;
  font-size: 24px;
}

.exercises h2 + p {
  color: var(--font-color);
  width: 90%;
}

h2#your-workouts {
  color: var(--primary-color);
}

h2#premade-workouts {
  color: var(--font-color);
}

.action:first-child {
  margin-top: 40px;
}

.action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
  width: 90%;
  padding: 20px;
}

.action h2 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  color: #747474;
  width: 100%;
}
.action span {
  font-family: 'Telex', sans-serif;
  text-transform: uppercase;
  color: #cecece;
  font-size: 14px;
  width: 100%;
}

.action.rest {
  padding: 5px 20px;
}

.action.rest h2 {
  color: #BBBBB6;
}

.start-button, .view-details-button {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background: transparent;
}

.view-details-button {
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23c5c5c5"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right;
  transform: rotateX(0deg);
  cursor: pointer;
}

.view-details-button.active {
  transform: rotateX(180deg);
}

.instruction {
/*  display: none;*/
  color: #747474;
}

.instruction.active {
  display: block;
}

.instruction img {
  width: 100%;
}

.start-button button{
  background-color: #fb5686;
  padding: 5px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#timer {
  visibility: hidden;
  position: fixed;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  top:0;
  left: 0;
  border-radius: 0;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

#timer .timerAction{
  flex: 1;
  color: #fb5686;
  font-size: 49px;
  font-weight: 600;
}

#timer .timerSeconds{
  flex: 1;
  color: black;
  font-size: 84px;
}

#timer .timerNextAction {
  flex: 1;
  color: #747474;
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
}

#pause {
  width: 290px;
  height: 290px;
  font-size: 3.25em;
}

.workout-ended #pause, 
.workout-ended #prev, 
.workout-ended #next {
  visibility: hidden;
}

.button {
  background-color: #fb5686;
  font-size: 1.25em;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 1px white;
  cursor: pointer;
  outline: none;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0;
}

.button-wrap {
  flex: 2;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
  min-width: 600px;
}

.control-button {
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.close-button-wrap {
  width: 600px; 
  padding-top: 20px; 
  display:flex; 
  flex-direction: row; 
  justify-content:space-between;
}

.control-button:focus {
  outline-color: pink;
}

#prev {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23c5c5c5"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

#next {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23c5c5c5"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

#end {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23c5c5c5"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" transform="scale(0.8) translate(3, 3)"/><circle cx="12" cy="12" r="10" stroke="%23c5c5c5" stroke-width="2" fill="none" /><path d="M0 0h24v24H0z" fill="none"/></svg>');
  width: 50px;
  height: 50px;
}

#restart {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23c5c5c5"><path d="M14 12c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2zm-2-9c-4.97 0-9 4.03-9 9H0l4 4 4-4H5c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.51 0-2.91-.49-4.06-1.3l-1.42 1.44C8.04 20.3 9.94 21 12 21c4.97 0 9-4.03 9-9s-4.03-9-9-9z"/></svg>');
  width: 50px;
  height: 50px;
}

footer {
  font-size: 0.8em;
  color: dimgray;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

details {
  width: 100%;
}

details summary {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  outline-color: pink;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

details summary svg {
  fill: #c5c5c5;
  transform: rotate(90deg);
}

details[open] summary svg{
  transform: rotate(-90deg);
}

/*
details summary::before {
  content: "⌄";
  position: absolute;
  top: -5px;
  right: 0;
}

details[open] summary::before {
  content: "–";
}*/

/**** Custom Workout Forms *****/

.form-element {
  padding: 15px 10px;
  border: solid 1px #747474;
  font-size: 16px;
}

.form-element:focus {
  border: solid 1px #fb5686;
  outline: none;
}

.custom-workout-form {
  color: #747474;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

.custom-workout-form > div {
  padding: 25px 0;
}

.custom-workout-form h2 {
  width: 90%;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.dropdown {
  width: 90%;
  position: relative;
}

/*
.dropdown.selected > * {
  border: solid 1px #fb5686;
}
*/

.dropdown-content > * {
  border: solid 1px #fb5686;
}

.dropdown span:first-of-type {
  border: none;
}

.dropdown .dropdown-button {
  display: block;
  cursor: pointer;
}

.dropdown .dropdown-button:after {
  /* add triangle to dropdown */
  content: '';
  position: absolute;
  right: 10px;
  border: 8px solid transparent;
  border-color: #fb5686 transparent transparent transparent;
}

.dropdown .dropdown-option {
  position: relative;
}

.dropdown .dropdown-search {
  width: 100%;
  font-size: 16px;
/*  border: transparent;*/
  border-bottom: inherit;
}

.dropdown .dropdown-content {
  width: 100%;
  margin-top: 2px;
  display: none;
}

.dropdown .dropdown-content.show {
  display: block;
}

/*
.dropdown-button:focus + .dropdown-content {
  display: block;
}
*/


.dropdown-content ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  height: 150px;
  overflow-y: auto;
}

.dropdown-content li {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-content li:hover, .dropdown-option.selected {
  background-color: lightpink;
}

.input-wrapper {
  width: 90%;
}

.input-wrapper > *{
  width: 100%;
}

.input-wrapper.workout-duration {
  padding-top: 10px;
}

.input-wrapper label{
  display: block;
}

.input-wrapper input{
  color: grey;
}

button.add-exercise {
  font-size: 15px;
  width: 90%; 
  height: 199px; 
  border: dashed 1px lightgrey; 
  border-radius: 5px; 
  margin-bottom: 20px; 
  background-color: transparent; 
/*  color: #b4b4b4;*/
  color: grey;
  cursor: pointer;
  outline: none;
}

button.add-exercise:hover, button.add-exercise:focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
}

.exercise-inputs-wrapper {
  border:solid 1px #eaeaea; 
  border-radius: 5px; 
  width: 90%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: white; 
  margin: 20px 0;
}

button.save {
  background-color: var(--primary-color); 
  width:90%; 
  border-radius: 5px; 
  color: white; 
  border: solid 1px #fb5686; 
  padding: 20px; 
  font-size: 1em;
  outline-color: var(--primary-color);
}

button.save:hover, button.save:focus {
  box-shadow: var(--hover-shadow);
}

.right-chevron {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23c5c5c5"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right;
  width: 60px;
  height: 60px;
  border: none;
}